@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap');

html, body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

#tocnav li ul li > a {
  margin-left: 1.5rem;
}

