[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
travis-sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-autobuild = "*"
jupyter = "*"
jupyterlab = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
pystan = "*"
matplotlib = "*"
arviz = "*"
hbayesdm = {editable = true,path = "."}

[requires]
python_version = "3"
